
@{
    ViewBag.Title = "HtmLPlaceHolderView";
}

<section id="members">
    <h2>Who We Are</h2>
    
    <div class="member">
        <img src="http://source.unsplash.com/random/200x200" alt="Alternate Text" />
        <h3>Billy Huang</h3>
        <p>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recent
        </p>
    </div>
    <div class="member">
        <img src="http://source.unsplash.com/random/202x200" alt="Alternate Text" />
        <h3>@ViewBag.RandNicholeName Elizabeth Calabro</h3>
        <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </div>
      
      
    <div class="member">
        <img src="http://source.unsplash.com/random/201x200" alt="Alternate Text" />
        <h3>Some Dude</h3>
        <p>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
</section>