
@{
    ViewBag.Title = "Index";
}

<div class="wrapper">

    <section class="evict-image">
        <img src="../../Content/Images/CTEvictions.png" />  @* move image --- to get it full  *@
        <div id="evict-fact-box">
            <p>Somthing about the image.  Place holding Text</p>
            <p>Experiment data shows that there are alot of red dots.  There are also a lot of blue dots</p>
        </div>
    </section>


    <section id="mission" class="main-box">
        <div>
            <h2>Mission</h2>
            <p>
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
            </p>
            <a href="#">Learn More</a>
        </div>
    </section>

    <section id="goal" class="main-box">

        <div>
            <h2>What We Do</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            </p>
            <a href="#">Learn More</a>
        </div>
    </section>
    @*</div>*@

    @*<section id="members">
        <h2>Who We Are</h2>

        <div class="member">
            <img src="http://source.unsplash.com/random/200x200" alt="Alternate Text" />
            <h3>Billy Huang</h3>
            <p>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recent
            </p>
        </div>
        <div class="member">
            <img src="http://source.unsplash.com/random/202x200" alt="Alternate Text" />
            <h3>@ViewBag.RandNicholeName Elizabeth Calabro</h3>
            <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>


        <div class="member">
            <img src="http://source.unsplash.com/random/201x200" alt="Alternate Text" />
            <h3>Some Dude</h3>
            <p>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
    </section>*@

    <section id="contact">
        <h2>Contact Us for more information</h2>
        <p>Email: Admin@srcdevhub.com</p>

    </section>
</div> 